/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
  --color-primary: #25274d;
  --color-secondary: #fbe04b;
  --color-tertiary: #ff585f;
  --color-primary-darker: #1a1c3a;
  --color-secondary-darker: #e4cc3a;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: rgba(37, 39, 77, 0.5);
  --color-secondary-opacity: #ffcd0380;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #25274d, #1a1c3a);
  --gradient-secondary: linear-gradient(to top left, #fbe04b, #e4cc3a;);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

/* GENERAL ELEMENTS */
.section {
  padding: 7rem 3rem;

  -webkit-transition: opacity 1s, -webkit-transform 1s;

  transition: opacity 1s, -webkit-transform 1s;

  -o-transition: transform 1s, opacity 1s;

  transition: transform 1s, opacity 1s;

  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
  -ms-transform: translateY(8rem);
  transform: translateY(8rem);
}

.section__title {
  max-width: 90rem;
  margin: 0 auto 3rem auto;
  text-align: left;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
}

.btn {
  display: inline-block;
  background-color: var(--color-secondary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  /* background-color: var(--color-secondary-darker); */
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--secondary-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 1px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn--small {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  display: block;
}

p {
  color: #666;
  padding-right: 2rem;
}

.copyright {
  color: #eee;
  text-align: center;
  display: block;
  width: 50%;
  margin: 2rem auto;
  font-size: 2rem;
}
/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  -o-transition: filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

.lazy-img {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

/* NAVIGATION */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: var(--color-primary);

  .nav__link {
    color: #f3f3f3 !important;
  }
  .nav__link--btn {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    position: relative;
    color: var(--color-primary) !important;
  }
}

.nav__logo {
  height: 4.5rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.nav__links-m {
  display: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem !important;
  border-radius: 3rem;
  background-color: var(--color-secondary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-secondary-darker);
  color: #333;
}

/* HEADER */
.header {
  padding: 0 3rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mail-link,
.mail-link:active,
.mail-link:visited,
.location-link,
.location-link:active,
.location-link:visited {
  color: var(--color-tertiary-darker) !important;
  text-decoration: none;
}

.location-link,
.location-link:active,
.location-link:visited {
  text-decoration: underline;
}

.header__title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  max-width: 120rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  place-content: center;
  place-items: center start;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
}

h4 {
  font-size: 2.4rem;
  font-weight: 600;
}

.header__img {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
  -webkit-transform: translateY(-6rem);
  -ms-transform: translateY(-6rem);
  transform: translateY(-6rem);
}

.highlight {
  position: relative;
  color: #fff;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  -webkit-transform: scale(1.07, 1.05) skewX(-15deg);
  -ms-transform: scale(1.07, 1.05) skewX(-15deg);
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* FEATURES */
.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}
.features-m {
  display: none;
}

.features__img {
  width: 100%;
}

.features__feature {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  width: 70%;
  background-color: #fff;
  padding: 3rem;
  font-size: 1.5rem;
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--color-secondary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
  padding: 4rem;
  background-color: #fff;
}

.operations__tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.operations__tab {
  margin-right: 2.5rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-primary);
  color: #fff;
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  -webkit-transform: translateY(-66%);
  -ms-transform: translateY(-66%);
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7rem 3rem 1fr;
  grid-template-columns: 7rem 1fr;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 600;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.operations__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations__content p {
  -ms-grid-column: 2;
  grid-column: 2;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}
.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}
.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.operations__icon--1 svg {
  fill: var(--color-primary-darker);
}
.operations__icon--2 svg {
  fill: var(--color-secondary-darker);
}
.operations__icon--3 svg {
  fill: var(--color-tertiary);
}

/* SLIDER */
.slider {
  max-width: 100rem;
  background-color: #fff;
  height: 40rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
  display: flex;
  align-items: center;
}

.slide {
  position: absolute;
  width: 100%;
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* THIS creates the animation! */
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.slider__btn--left {
  left: 6%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots__dot {
  border: none;
  background-color: var(--color-secondary);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: var(--color-primary);
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.testimonial__text {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #666;
  width: 100%;
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.testimonial__author {
  width: 100%;
  display: flex;
  flex-direction: column;
  display: block;
}

.testimonial__photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 600;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
  text-align: center;
}

.testimonial__details {
  font-size: 1.6rem;
  display: flex;
  text-wrap: nowrap;
  width: 100%;

  margin-bottom: 4rem;
  color: #666;
  align-items: center;
  justify-content: space-between;
}
.testimonial__type {
  background-color: var(--color-primary-opacity);
  display: inline-block;
  padding: 0.5rem 2rem;
  color: #fff;
  border-radius: 20rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.testimonial__date {
  margin-right: 2rem;
}
.section__title--testimonials {
  margin-bottom: 4rem;
}

/* SIGNUP */
.section--sign-up {
  background-color: var(--color-opacity);
  border-top: none;
  /* border-bottom: 1px solid #444; */
  text-align: center;
  padding: 10rem 3rem;
}

.section--sign-up .section__header {
  color: var(--color-primary);
  text-align: center;
}

.section--sign-up .section__title {
  margin-bottom: 6rem;
}

.section--sign-up .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

/* FOOTER */
.footer {
  padding: 5rem 2rem;
  background-color: var(--color-primary);
}

.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link:link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}
.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: var(--color-tertiary-darker);
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  -webkit-box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5rem 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
  text-wrap: nowrap;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-column-align: center;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* COOKIE MESSAGE */
.cookie-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Hide Texts */
.hidden-text {
  display: none;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  margin-top: 7rem;
}
.header-container p {
  font-size: 1.5rem;
}

.address {
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
}
.address span {
  display: inline-block;
}

.address__icon {
  height: 2rem;
}
.address__phone,
.address__mail,
.address__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.address__home {
  text-align: left;
  padding: 1rem;
}
.address__icon {
  fill: var(--color-tertiary);
  display: inline-block;
}
.contact-icon {
  margin-top: 1rem;
}

/* Header styling mobile */

.header__title-m {
  display: none;
}

.features-m {
  display: none;
}

#toggleButton-close {
  display: none;
  position: relative;
  z-index: 3000;
  outline: none;
  background-color: var(--color-secondary-opacity);
}

p > h1 .btn-close__icon {
  fill: var(--color-secondary);
  stroke: var(--color-primary-opacity);
  width: 4rem;
}

textarea {
  border: 1px solid #ddd;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-primary-opacity);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
